
        <div class="col-xs-4"></div>
        <div class="col-offset-xs-4  col-xs-4" style="text-align: center;">
            
            <!-- <div >
                <img src="{{user.imageFile}}" style="height: 100px; width: 100px;"/>
            </div> -->
            <form #f="ngForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="old">Old password</label>
                    <input
                        type="password"
                        id="old"
                        class="form-control"
                        ngModel
                        name="old"
                        required>
                </div>
    
                <div class="form-group">
                    <label for="new1">New password</label>
                    <input
                        type="password"
                        id="new1"
                        class="form-control"
                        ngModel
                        name="new1"
                        required>
                </div>

                <div class="form-group">
                    <label for="new2">New password</label>
                    <input
                        type="password"
                        id="new2"
                        class="form-control"
                        ngModel
                        name="new2"
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*\W)(?=.*[A-Z]).{8,}"
                        required>
                </div>
                
                <div>
                    <button class="btn btn-primary" [disabled]="!f.valid" type="submit" style="width: 100%; height: 50px;">Change password</button>
                </div>
            </form>
        </div>
        <div class="col-xs-4"></div>
