<form #f="ngForm" (ngSubmit)="onSubmit()" style="padding-bottom: 100px">
  <div class="row">

    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <label for="type">Type</label>
        <select id="type" class="form-control" ngModel name="type" required>
          <option value="Apartment" selected="true">Apartment</option>
          <option value="House" selected="false">House</option>
          <option value="Cottage" selected="true">Cottage</option>
          <option value="Local" selected="false">Local</option>
          <option value="Warehouse" selected="true">Warehouse</option>
        </select>
      </div>
    </div>

    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" class="form-control" ngModel name="name" required />
      </div>
    </div>

    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <label for="city">City</label>
        <select id="city" class="form-control" ngModel name="city" (change)="cityClick()">
          <option *ngFor="let c of cities" [ngValue]="c.city">
            {{ c.city }}
          </option>
        </select>
      </div>
    </div>

    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <label for="municipality">Municipality</label>
        <select id="municipality" class="form-control" ngModel name="municipality" (change)="municipalityClick()">
          <option *ngFor="let m of municipalities" [ngValue]="m.municipality">
            {{ m.municipality }}
          </option>
        </select>
      </div>
    </div>

    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <label for="location">Location</label>
        <select id="location" class="form-control" ngModel name="location" (change)="locationClick()">
          <option *ngFor="let l of locationes" [ngValue]="l.location">
            {{ l.location }}
          </option>
        </select>
      </div>
    </div>

    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <label for="street">Street</label>
        <select id="street" class="form-control" ngModel name="street">
          <option *ngFor="let s of streets" [ngValue]="s">{{ s }}</option>
        </select>
      </div>
    </div>

    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <label for="busses">Busses</label>
        <select id="busses" class="form-control form-select" ngModel name="busses" multiple size="5">
          <option *ngFor="let b of busses" [ngValue]="b">{{ b }}</option>
        </select>
      </div>
    </div>

    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <label for="area">Area(m²)</label>
        <input type="text" id="area" class="form-control" ngModel name="area" required />
      </div>
    </div>

    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <label for="numOfRooms">Number of rooms</label>
        <select id="numOfRooms" class="form-control" ngModel name="numOfRooms" required>
          <option value="1" selected="false">1</option>
          <option value="1.5" selected="false">1.5</option>
          <option value="2" selected="false">2</option>
          <option value="2.5" selected="false">2.5</option>
          <option value="3" selected="false">3</option>
          .
          <option value="3.5" selected="false">3.5</option>
          <option value="4" selected="false">4</option>
          <option value="4.5" selected="false">4.5</option>
          <option value="5+" selected="false">5+</option>
        </select>
      </div>
    </div>

    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <label for="year">Construction year</label>
        <input type="text" id="year" class="form-control" ngModel name="year" />
      </div>
    </div>

    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <label for="state">State</label>
        <input type="text" id="state" class="form-control" ngModel name="state" />
      </div>
    </div>

    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <label for="heating">Heating</label>
        <input type="text" id="heating" class="form-control" ngModel name="heating" />
      </div>
    </div>

    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <label for="floor">Floor</label>
        <input type="texte" id="floor" class="form-control" ngModel name="floor" />
      </div>
    </div>

    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <label for="totalFloors">Total floors</label>
        <input type="text" id="totalFloors" class="form-control" ngModel name="totalFloors" />
      </div>
    </div>

    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <label for="parking">Parking</label>
        <select id="type" class="form-control" ngModel name="type">
          <option value="NO" selected="false">NO</option>
          <option value="YES" selected="false">YES</option>
        </select>
      </div>
    </div>

    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <label for="monthly">Monthly utilities(€)</label>
        <input type="text" id="monthly" class="form-control" ngModel name="monthly" />
      </div>
    </div>

    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <label for="price">Price(€)</label>
        <input type="text" id="price" class="form-control" ngModel name="price" required />
      </div>
    </div>

    <div class="col-md-6 col-xs-12">
      <div class="form-group">
        <label for="about">About</label>
        <input type="text" id="about" class="form-control" ngModel name="about" />
      </div>
    </div>

    <div class="col-md-6 col-xs-12">
      <label class="image-upload-container btn btn-bwm">
        Select Image
        <input class="form-control" id="fileId" type="file" placeholder="Agenct Licence" required name="file"
          (change)="onFileSelected($event)" accept=".jpg, .png" multiple />
      </label>
    </div>

    <div class="col-xs-12 form-group">
      <label for="Type">Characteristics</label>
      <section class="example-section">
        <div class="row">
          <mat-checkbox *ngFor="
              let c of initCharacteristic;
              let i = index;
              trackBy: trackByFn
            " class="example-margin col-xs-6" (change)="check(i)">{{ initCharacteristic[i] }}</mat-checkbox>
        </div>
      </section>
    </div>
    <div class="col-xs-12">
      <div id="map" style="height: 500px; background-color: lightblue;"></div>
    </div>


    <div class="col-xs-12" style="padding-top: 50px;">
      <button class="btn btn-primary" [disabled]="!f.valid || !imagesOk" type="submit"
        style="width: 100%; height: 50px">
        Add
      </button>
    </div>
  </div>
</form>